#contenido{
}

#contenido3{
	margin-top: 45px ;
	padding: 15px;
	box-sizing: border-box;

}
.contenido4{
	width: 100%;
	box-sizing: border-box;
}

.imagen{
	margin-top: 40px;
}

.card {
	width: 100%;
	margin-bottom: 25px;
	
}

#paginador {
	margin: auto;
	width: 100%;
	margin-right: auto !important;
	margin-left: auto !important;
	margin: 0;
 	padding: 0;
}


nav ul {
 	display: inline-block;
 	margin: 0;
 	padding: 0;
	float: none; 
}